body {
  background:#0b0f19;
  color:#e5e7eb;
  font-family:Arial, sans-serif;
  text-align:center;
}
header {
  margin-top:100px;
}
.btn {
  display:inline-block;
  margin-top:20px;
  padding:10px 20px;
  background:#00e5ff;
  color:#000;
  text-decoration:none;
  border-radius:5px;
}
